.App {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

/* input {
  height: 30px;
  border-radius: 4px;
  border: 1.5px solid dodgerblue;
  padding: 6px;
} */

/* input:focus-visible {
  border: 1.5px solid rgb(10, 91, 172);
} */

/* .btn-primary {
  max-width: 200px;
  min-width: 100px;
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid dodgerblue;
  font-weight: bold;
} */

/* button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */

.my-select {
  padding: 10px;
  border-radius: 4px;
  border: 1.5px solid dodgerblue;
  width: 100%;
}

.checkbox-input {
  display: flex;
  align-items: center;
}
/* input[type="checkbox"] {
  font-size: 20px;
  width: 18px;
} */
.error {
  /* padding: 10px; */
  /* border-radius: 4px; */
  color: rgb(255, 0, 0);
  font-size: 14px;
  /* font-weight: 600; */
  /* background-color: rgb(255, 213, 205); */
  /* border: 1px solid tomato; */
}
